main{height: 80vh;}

main{
    width: 100%;
}

#banner{
    /*background-image: url('../../images/banner.jpg'); */
    background-position: center;
    background-size: cover;
    filter: grayscale(60%);
}

header{
    height: 12%;
    position: relative;
    top: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header button{
    width: 30%;
    height: 100%;
    color:aliceblue;

    background-color: #ff7ccb;
    transition: .5s;
}
header button:hover{
    filter: brightness(80%);
}
